USE [master]
GO
/****** Object:  Database [Cho_online]    Script Date: 5/20/2026 5:52:55 PM ******/
CREATE DATABASE [Cho_online]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cho_online', FILENAME = N'D:\SQL_Sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cho_online.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cho_online_log', FILENAME = N'D:\SQL_Sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cho_online_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cho_online].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cho_online]
GO
/****** Object:  Table [dbo].[Chi_Tiet_Gio_Hang]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tiet_Gio_Hang](
	[Ma_GioHang] [int] NOT NULL,
	[Ma_SP] [int] NOT NULL,
	[So_Luong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_GioHang] ASC,
	[Ma_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cua_Hang]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cua_Hang](
	[Ma_GianHang] [int] IDENTITY(1,1) NOT NULL,
	[Ten_GianHang] [nvarchar](150) NOT NULL,
	[Dia_Chi] [nvarchar](255) NULL,
	[Ma_User] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_GianHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_Muc]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Muc](
	[Ma_DanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[Ten_DanhMuc] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_DanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Don_Hang]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Don_Hang](
	[Ma_DonHang] [int] IDENTITY(1,1) NOT NULL,
	[Trang_Thai] [nvarchar](50) NULL,
	[Phi_Giao_Hang] [decimal](18, 2) NULL,
	[Ma_GioHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_DonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Ma_GioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gio_Hang]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gio_Hang](
	[Ma_GioHang] [int] IDENTITY(1,1) NOT NULL,
	[Ma_User] [int] NOT NULL,
	[Tong_Tien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_GioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ma_Quyen]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ma_Quyen](
	[Ma_Quyen] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Quyen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phan_Quyen]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phan_Quyen](
	[Ma_User] [int] NOT NULL,
	[Ma_Quyen] [int] NOT NULL,
	[Duoc_Them] [bit] NULL,
	[Duoc_Xoa] [bit] NULL,
	[Duoc_Sua] [bit] NULL,
	[Duoc_Xem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_User] ASC,
	[Ma_Quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_Pham]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Pham](
	[Ma_SP] [int] IDENTITY(1,1) NOT NULL,
	[Ten_SP] [nvarchar](200) NOT NULL,
	[So_Luong] [int] NULL,
	[Gia_Tien] [decimal](18, 2) NOT NULL,
	[Ma_DanhMuc] [int] NOT NULL,
	[Ma_GianHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/20/2026 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Ma_User] [int] IDENTITY(1,1) NOT NULL,
	[Ten_User] [nvarchar](100) NOT NULL,
	[Dia_Chi] [nvarchar](255) NULL,
	[SDT] [varchar](20) NULL,
	[Vai_Tro] [nvarchar](50) NULL,
	[CMND] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Don_Hang] ADD  DEFAULT (N'Chờ xác nhận') FOR [Trang_Thai]
GO
ALTER TABLE [dbo].[Don_Hang] ADD  DEFAULT ((0)) FOR [Phi_Giao_Hang]
GO
ALTER TABLE [dbo].[Gio_Hang] ADD  DEFAULT ((0)) FOR [Tong_Tien]
GO
ALTER TABLE [dbo].[Phan_Quyen] ADD  DEFAULT ((0)) FOR [Duoc_Them]
GO
ALTER TABLE [dbo].[Phan_Quyen] ADD  DEFAULT ((0)) FOR [Duoc_Xoa]
GO
ALTER TABLE [dbo].[Phan_Quyen] ADD  DEFAULT ((0)) FOR [Duoc_Sua]
GO
ALTER TABLE [dbo].[Phan_Quyen] ADD  DEFAULT ((1)) FOR [Duoc_Xem]
GO
ALTER TABLE [dbo].[San_Pham] ADD  DEFAULT ((0)) FOR [So_Luong]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Khach') FOR [Vai_Tro]
GO
ALTER TABLE [dbo].[Chi_Tiet_Gio_Hang]  WITH CHECK ADD FOREIGN KEY([Ma_GioHang])
REFERENCES [dbo].[Gio_Hang] ([Ma_GioHang])
GO
ALTER TABLE [dbo].[Chi_Tiet_Gio_Hang]  WITH CHECK ADD FOREIGN KEY([Ma_SP])
REFERENCES [dbo].[San_Pham] ([Ma_SP])
GO
ALTER TABLE [dbo].[Cua_Hang]  WITH CHECK ADD FOREIGN KEY([Ma_User])
REFERENCES [dbo].[Users] ([Ma_User])
GO
ALTER TABLE [dbo].[Don_Hang]  WITH CHECK ADD FOREIGN KEY([Ma_GioHang])
REFERENCES [dbo].[Gio_Hang] ([Ma_GioHang])
GO
ALTER TABLE [dbo].[Gio_Hang]  WITH CHECK ADD FOREIGN KEY([Ma_User])
REFERENCES [dbo].[Users] ([Ma_User])
GO
ALTER TABLE [dbo].[Phan_Quyen]  WITH CHECK ADD FOREIGN KEY([Ma_Quyen])
REFERENCES [dbo].[Ma_Quyen] ([Ma_Quyen])
GO
ALTER TABLE [dbo].[Phan_Quyen]  WITH CHECK ADD FOREIGN KEY([Ma_User])
REFERENCES [dbo].[Users] ([Ma_User])
GO
ALTER TABLE [dbo].[San_Pham]  WITH CHECK ADD FOREIGN KEY([Ma_DanhMuc])
REFERENCES [dbo].[Danh_Muc] ([Ma_DanhMuc])
GO
ALTER TABLE [dbo].[San_Pham]  WITH CHECK ADD FOREIGN KEY([Ma_GianHang])
REFERENCES [dbo].[Cua_Hang] ([Ma_GianHang])
GO
USE [master]
GO
