-- LEGACY 006-remove-reviews (2026-09-18): file SQL Server cu, KHONG dong bo bat buoc voi schema MySQL moi; nguon su that la Database/schema_mysql.sql + seed_demo_mysql.sql + Database/sql/006_remove_rating.sql; KHONG dung file nay de ghi de schema MySQL; cot [Rating] chi con gia tri lich su.
-- 008 split-user-table (2026): DA TACH Users -> Users (ho so) + Accounts (dang nhap) theo Database/database.sql.
USE [master]
GO
/****** Object:  Database [PobbyDB]    Script Date: 6/21/2026 9:38:07 PM ******/
CREATE DATABASE [PobbyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PobbyDB', FILENAME = N'D:\SQL_Sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\PobbyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PobbyDB_log', FILENAME = N'D:\SQL_Sever\MSSQL16.SQLEXPRESS\MSSQL\DATA\PobbyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PobbyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PobbyDB]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Emoji] [nvarchar](10) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingFee] [decimal](18, 2) NULL,
	[CartId] [int] NULL,
	[UserId] [int] NOT NULL,
	[ReceiverName] [nvarchar](150) NOT NULL,
	[ReceiverPhone] [varchar](20) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[VoucherCode] [nvarchar](50) NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[StoreId] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[Rating] [decimal](3, 1) NULL,
	[SoldCount] [int] NULL,
	[Emoji] [nvarchar](10) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerRequests]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ShopName] [nvarchar](255) NOT NULL,
	[BusinessPhone] [nvarchar](20) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ReviewedAt] [datetime] NULL,
	[ReviewedBy] [int] NULL,
	[RejectReason] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[NationalId] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreId] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[UserId] [int] NOT NULL,
	[Phone] [varchar](20) NULL,
	[Category] [varchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/21/2026 9:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[NationalId] [varchar](20) NULL,
 CONSTRAINT [PK__Users__1788CC4C09072FA0] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role_Id] [int] NULL,
	[trang_thai] [varchar](10) NULL,
 CONSTRAINT [PK__Accounts__3214BF380C6526F1] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
, CONSTRAINT [UQ_Accounts_UserId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
, CONSTRAINT [UQ_Accounts_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
, CONSTRAINT [FK_Accounts_Users] FOREIGN KEY( [UserId]) REFERENCES [Users] ([UserId]) ON DELETE RESTRICT ON UPDATE RESTRICT
, CONSTRAINT [FK_Accounts_Roles] FOREIGN KEY( [Role_Id]) REFERENCES [Roles] ([RoleId]) ON DELETE RESTRICT ON UPDATE RESTRICT
, CONSTRAINT [CK_Accounts_Admin_KhongDuocKhoa] CHECK (NOT (trang_thai = N'banned' AND Role_Id = 1))
) ON [PRIMARY]
GO
GO
INSERT [dbo].[CartItems] ([CartId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[CartItems] ([CartId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 19, 1, CAST(180000.00 AS Decimal(18, 2)))
INSERT [dbo].[CartItems] ([CartId], [ProductId], [Quantity], [UnitPrice]) VALUES (2, 4, 1, CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([CartId], [UserId], [TotalAmount], [CreatedAt]) VALUES (1, 1, CAST(180000.00 AS Decimal(18, 2)), CAST(N'2026-06-07T19:51:38.473' AS DateTime))
INSERT [dbo].[Carts] ([CartId], [UserId], [TotalAmount], [CreatedAt]) VALUES (2, 2, CAST(450000.00 AS Decimal(18, 2)), CAST(N'2026-06-07T19:51:38.473' AS DateTime))
INSERT [dbo].[Carts] ([CartId], [UserId], [TotalAmount], [CreatedAt]) VALUES (3, 3, CAST(2200000.00 AS Decimal(18, 2)), CAST(N'2026-06-07T19:51:38.473' AS DateTime))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Điện thoại')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'Laptop')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Thời trang')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [Emoji], [Quantity], [UnitPrice], [TotalPrice]) VALUES (4, 25, 14, N'Sản phẩm', N'📦', 2, CAST(1800000.00 AS Decimal(18, 2)), CAST(3600000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [Emoji], [Quantity], [UnitPrice], [TotalPrice]) VALUES (5, 25, 17, N'Sản phẩm', N'📦', 1, CAST(18000000.00 AS Decimal(18, 2)), CAST(18000000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [Emoji], [Quantity], [UnitPrice], [TotalPrice]) VALUES (6, 25, 19, N'Sản phẩm', N'📦', 3, CAST(180000.00 AS Decimal(18, 2)), CAST(540000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [Status], [ShippingFee], [CartId], [UserId], [ReceiverName], [ReceiverPhone], [ShippingAddress], [PaymentMethod], [VoucherCode], [SubTotal], [DiscountAmount], [TotalAmount], [Note], [CreatedAt], [UpdatedAt]) VALUES (25, N'Pending', CAST(40000.00 AS Decimal(18, 2)), NULL, 12, N'Trần Khánh Vy', N'0901111122', N'Tây Ninh', N'COD', NULL, CAST(28140000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(28180000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-06-07T20:36:30.863' AS DateTime), NULL)
INSERT [dbo].[Orders] ([OrderId], [Status], [ShippingFee], [CartId], [UserId], [ReceiverName], [ReceiverPhone], [ShippingAddress], [PaymentMethod], [VoucherCode], [SubTotal], [DiscountAmount], [TotalAmount], [Note], [CreatedAt], [UpdatedAt]) VALUES (27, N'Pending', CAST(25000.00 AS Decimal(18, 2)), NULL, 14, N'Phan Quốc Khánh', N'0901111124', N'120 An Dương Vương', N'MOMO', NULL, CAST(5365000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5390000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-06-07T20:57:51.443' AS DateTime), NULL)
INSERT [dbo].[Orders] ([OrderId], [Status], [ShippingFee], [CartId], [UserId], [ReceiverName], [ReceiverPhone], [ShippingAddress], [PaymentMethod], [VoucherCode], [SubTotal], [DiscountAmount], [TotalAmount], [Note], [CreatedAt], [UpdatedAt]) VALUES (28, N'Cancelled', CAST(25000.00 AS Decimal(18, 2)), NULL, 13, N'Lý Hải Nam', N'0901111123', N'Đồng Nai', N'MOMO', NULL, CAST(23550000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(23575000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-06-07T21:01:31.260' AS DateTime), CAST(N'2026-06-07T21:01:38.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Quantity], [Price], [CategoryId], [StoreId], [Description], [OldPrice], [Rating], [SoldCount], [Emoji], [IsActive]) VALUES (1, N'iPhone 15 Pro Max', 10, CAST(32000000.00 AS Decimal(18, 2)), 1, 1, N'Hàng chính hãng VN/A, bảo hành 12 tháng', CAST(35000000.00 AS Decimal(18, 2)), CAST(4.9 AS Decimal(3, 1)), 1500, N'📱', 1)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Quantity], [Price], [CategoryId], [StoreId], [Description], [OldPrice], [Rating], [SoldCount], [Emoji], [IsActive]) VALUES (2, N'Samsung Galaxy S25', 15, CAST(25000000.00 AS Decimal(18, 2)), 1, 2, N'Mới nhất 2026, tích hợp AI thông minh', CAST(28000000.00 AS Decimal(18, 2)), CAST(4.8 AS Decimal(3, 1)), 850, N'📦', 1)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Quantity], [Price], [CategoryId], [StoreId], [Description], [OldPrice], [Rating], [SoldCount], [Emoji], [IsActive]) VALUES (3, N'MacBook Air M3', 8, CAST(31000000.00 AS Decimal(18, 2)), 2, 5, N'Chip M3 siêu mạnh mẽ, pin trâu 18 tiếng', CAST(34000000.00 AS Decimal(18, 2)), CAST(5.0 AS Decimal(3, 1)), 420, N'📦', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Quản lý')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Seller')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SellerRequests] ON 

INSERT [dbo].[SellerRequests] ([RequestId], [UserId], [ShopName], [BusinessPhone], [Category], [Status], [CreatedAt], [ReviewedAt], [ReviewedBy], [RejectReason], [Description], [NationalId]) VALUES (3, 12, N'FPT Shop', N'05123123', N'Điện thoại', N'pending', CAST(N'2026-06-14T09:16:08.757' AS DateTime), NULL, NULL, NULL, N'bán đt', N'123124125')
INSERT [dbo].[SellerRequests] ([RequestId], [UserId], [ShopName], [BusinessPhone], [Category], [Status], [CreatedAt], [ReviewedAt], [ReviewedBy], [RejectReason], [Description], [NationalId]) VALUES (4, 13, N'Shop đồ võ thuật Nam Lý', N'09055544433', N'Thể thao', N'approved', CAST(N'2026-06-14T09:17:12.133' AS DateTime), CAST(N'2026-06-17T14:22:05.317' AS DateTime), 1, NULL, N'bán toàn bộ dụng cụ tập luyện võ thuật', N'1412412')
SET IDENTITY_INSERT [dbo].[SellerRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Stores] ON 

INSERT [dbo].[Stores] ([StoreId], [StoreName], [Address], [UserId], [Phone], [Category], [Description], [IsActive], [CreatedAt]) VALUES (1, N'Pobby Fashion', N'TP.HCM', 2, N'0901234501', N'Th?i trang', N'Chuyên cung cấp quần áo thời trang nam nữ xu hướng mới nhất.', 1, CAST(N'2026-06-06T23:49:31.780' AS DateTime))
INSERT [dbo].[Stores] ([StoreId], [StoreName], [Address], [UserId], [Phone], [Category], [Description], [IsActive], [CreatedAt]) VALUES (2, N'Tech World', N'Hà Nội', 4, N'0901234502', N'Ði?n t?', N'Đại lý phân phối thiết bị công nghệ, điện thoại, laptop chính hãng.', 1, CAST(N'2026-06-06T23:49:31.780' AS DateTime))
INSERT [dbo].[Stores] ([StoreId], [StoreName], [Address], [UserId], [Phone], [Category], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Sneaker Hub', N'Đà Nẵng', 6, N'0901234503', N'Th?i trang', N'Thế giới giày sneaker chính hãng từ các thương hiệu lớn Nike, Adidas.', 1, CAST(N'2026-06-06T23:49:31.780' AS DateTime))
SET IDENTITY_INSERT [dbo].[Stores] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
SET IDENTITY_INSERT [dbo].[Users] OFF
-- 008 tach bang: tai khoan dang nhap gom o bang Accounts (UserId 1-1, khong cascade)
SET IDENTITY_INSERT [dbo].[Accounts] ON
INSERT [dbo].[Users] ([UserId], [FullName], [Address], [Phone], [NationalId]) VALUES (1, N'Nguyễn Văn An', N'120 An Liễng, Phường 12,Hà Nội', N'0901111111', N'111111111')
INSERT [dbo].[Accounts] ([UserId], [Username], [Password], [Role_Id], [trang_thai]) VALUES (1, N'user1', N'123456', 1, N'active')
INSERT [dbo].[Users] ([UserId], [FullName], [Address], [Phone], [NationalId]) VALUES (2, N'Trần Thị Bình', N'Số 12 Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh', N'0901111112', N'111111112')
INSERT [dbo].[Accounts] ([UserId], [Username], [Password], [Role_Id], [trang_thai]) VALUES (2, N'user2', N'123456', 3, N'active')
INSERT [dbo].[Users] ([UserId], [FullName], [Address], [Phone], [NationalId]) VALUES (3, N'Lê Minh Khoa', N'105 Trần Hưng Đạo, Phường Cầu Ông Lãnh, Quận 1, TP. Hồ Chí Minh', N'0901111113', N'1111111134')
INSERT [dbo].[Accounts] ([UserId], [Username], [Password], [Role_Id], [trang_thai]) VALUES (3, N'user3', N'123456', 4, N'active')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ('') FOR [ProductName]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [ReceiverName]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [ReceiverPhone]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [ShippingAddress]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('COD') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SoldCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SellerRequests] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[SellerRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Stores] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Stores] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('active') FOR [trang_thai]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([CartId])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK__Carts__UserId__44FF419A] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK__Carts__UserId__44FF419A]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([CartId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Stores]
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK__Stores__UserId__3A81B327] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK__Stores__UserId__3A81B327]
GO
USE [master]
GO

GO
-- Trigger dam bao chi ton tai mot tai khoan Admin (user1) --
-- 008 tach bang: Role_Id da chuyen sang Accounts; trigger chay tren Accounts
CREATE TRIGGER [dbo].[TRG_Accounts_ChiMotAdmin]
ON [dbo].[Accounts]
AFTER INSERT, UPDATE
AS
BEGIN
  IF ((SELECT COUNT(*) FROM [dbo].[Accounts] WHERE [Role_Id] = 1) > 1)
  BEGIN ROLLBACK TRANSACTION; THROW 50001, NChi ton tai mot tai khoan Admin!, 1; END
END
GO

